@charset "utf-8";

@font-face {
    font-family: 'Century Gothic';
    src: url('Century Gothic.ttf') format('.toff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Gabriel Fuentes
   Date: 9.10.18   
   
   Filename: mw_styles.css

*/


/* Structural Styles */
   html {
       background-color: rgb(173, 189, 227);
       font-size: .9em;
       padding: 10px 0px 10px 0px;
       text-align: center;
   }

   body {
       background-color: rgb(227, 210, 173);
       font-family: 'Century Gothic', sans-serif;
   }


/* Heading Styles */
h1, h2 {
    font-weight: normal;
}


/* Navigation Styles */




/* Article Styles */




/* Aside Styles */



/* Blockquote Styles */

